<template>
  <Dialog
    :key="$route.fullPath"
    v-model:visible="this.$store.state.createRecipeDialogVisible"
    closable
    close-on-escape
    modal
  >
    <template #header>
      <div>Создание рецепта</div>
    </template>

    <h5>Название рецепта</h5>
    <span class="p-input-icon-left">
      <i class="pi pi-user" style="position: relative; left: 25px" />
      <InputText
        v-model="name"
        aria-describedby="name-help"
        placeholder="Название"
        type="text"
      /><br />
      <small
        v-if="this.$store.state.validation.name"
        id="name-help"
        class="p-error"
      >
        {{ this.$store.state.validation.name }}
      </small>
    </span>

    <h5>Метод приготовления</h5>
    <span class="p-input-icon-left">
      <i class="pi pi-lock" style="position: relative; left: 25px" />
      <InputText
        v-model="cookingmethod"
        aria-describedby="description-help"
        placeholder="Варить"
        type="text"
      />
      <br />
      <small
        v-if="this.$store.state.validation.cookingmethod"
        id="description-help"
        class="p-error"
      >
        {{ this.$store.state.validation.cookingmethod }}
      </small>
    </span>

    <h5>Время приготовления</h5>
    <span class="p-field p-col-12 p-md-4">
      <Calendar
        id="time24"
        v-model="time"
        :showTime="true"
        :showSeconds="true"
        :timeOnly="true"
        style="position: relative; left: 18px"
      />
      <br />
      <small
        v-if="this.$store.state.validation.time"
        id="birthday-help"
        class="p-error"
      >
        {{ this.$store.state.validation.time }}
      </small>
    </span>

    <h5>Категория блюда</h5>
    <span class="p-input-icon-left">
      <i class="pi pi-lock" style="position: relative; left: 25px" />
      <Dropdown
        id="dropdown"
        v-model="id_category"
        :options="categories"
        optionLabel="name_cat"
        optionValue="category_id"
        placeholder="Выберите категорию"
        class="p-invalid"
      />
      <br />
      <small
        v-if="this.$store.state.validation.id_category"
        id="id-category"
        class="p-error"
      >
        {{ this.$store.state.validation.id_category }}
      </small>
    </span>


    <h5>Изображение</h5>

    <div v-if="image">
      <img :src="image" style="width: 90px"/>
      <div>
        <Button class="p-button-info" @click="removeImage">Сбросить</Button>
      </div>
    </div>
    <div>
      <label v-if="!image" class="p-button p-button-info">
        Выбрать файл
        <input type="file" @change="onFileChange">
      </label>
    </div>

    <small v-if="this.$store.state.validation.picture" id="picture-help" class="p-error">
      {{ this.$store.state.validation.picture }}
    </small>

    <template #footer>
      <Button autofocus icon="pi pi-check" label="Создать" @click="create" />
    </template>
  </Dialog>
</template>

<script>
import Dialog from "primevue/dialog";
import Button from "primevue/button";
import InputText from "primevue/inputtext";
import Calendar from "primevue/calendar";
import Dropdown from "primevue/dropdown";

export default {
  name: "CreateRating",
  components: { Dialog, InputText, Button, Calendar, Dropdown },
  data() {
    return {
      name: "",
      cookingmethod: "",
      time: "00:00:00",
      id_category: "",
      visible: false,
      modal: true,
      image: '',
      imagefile: null,
    };
  },
  // Вотчер для изменения формата даты, которая возвращается календарем
  watch: {
    id_category(newValue) {
      console.log(newValue)
    },
  },
  methods: {
    create() {
      let tempdate = new Date(this.time);
      this.time = tempdate.getHours() + ":" + tempdate.getMinutes()+ ":" + tempdate.getSeconds();

      this.$store.dispatch("createRecipe", {
        name: this.name,
        cookingmethod: this.cookingmethod,
        time: this.time,
        //picture_url: this.picture_url,
        id_category: this.id_category,
        //picture_url: this.imagefile,
        picture:this.imagefile,
      });
      console.log(this.time);
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      this.imagefile = files[0];
      this.createImage(files[0]);
    },

    createImage(file) {
      var reader = new FileReader();
      reader.onload = (e) => {
        this.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImage: function () {
      this.image = '';
    }
  },

  computed: {
    categories() {
      console.log(this.$store.state.categories);
      return this.$store.state.categories;
    },
  },
};
</script>

<style scoped>
input[type="file"] {
  display: none;
}
</style>
