<template>
  <h1 class="p-text-center ml-6">Рецепты</h1>
  <div style="display: flex" class="ml-6">
    <Fieldset legend="Количество элементов на странице">
      <Dropdown v-model="rows" :options="rowSizes" />
    </Fieldset>
    <Fieldset legend="Поиск">
      <InputText type="text" v-model="searchPattern" />
    </Fieldset>
  </div>
  <div v-if="this.$store.state.dataPreLoading" style="text-align: center">
    <ProgressSpinner strokeWidth="4" style="width: 50px; height: 50px" />
  </div>
  <div v-else>
    <ConfirmDialog></ConfirmDialog>
    <DataView
      :layout="layout"
      :value="recipes"
      :first="first"
      paginator
      :rows="rows"
      :total-records="recipeCount"
      @page="onPage"
    >
      <template #grid="slotProps">
        <div class="p-col-12 p-md-3" style="padding: 0.5em">
          <div class="product-grid-item card">
            <Card>
              <template #header>
                {{ slotProps.data.name }}
              </template>
              <!-- Ссылки на локальные изображения потому чт овременно не доступно S3 хранилище -->
              <template #content>
                <div
                  v-if="
                    slotProps.data.picture_url == null ||
                    slotProps.data.picture_url == ''
                  "
                  style="text-align: center"
                >
                  <img :alt="slotProps.data.name" src="https://offers-api.agregatoreat.ru/api/file/f0e3609c-c7ce-4eaa-b9ec-42a9ca600225" style="width: 250px; height: 250px" />


                </div>
                <div v-else style="text-align: center">
                  <img
                    :alt="slotProps.data.name"
                    :src="slotProps.data.picture_url"
                    style="width: 250px; height: 250px"
                  />
                </div>
                <div class="p-mt-4" style="text-align: center">
                  Время приготовления: {{ slotProps.data.time }}
                </div>
              </template>
              <template #footer>
                <Button
                  v-tooltip.bottom="'Удалить рецепт'"
                  class="p-button-danger p-button-rounded"
                  icon="pi pi-trash"
                  @click="deleteRecipe(slotProps.data.id)"
                />
                <Button
                  v-tooltip.bottom="'Редактировать рецепт'"
                  class="p-button-primary p-button-rounded"
                  icon="pi pi-cog"
                  style="margin-left: 0.5em"
                />
              </template>
            </Card>
          </div>
        </div>
      </template>
    </DataView>
  </div>
</template>
<script>
import "../store/index.js";
import router from "../router/index.js";
import DataView from "primevue/dataview";
import Fieldset from "primevue/fieldset";
import InputText from "primevue/inputtext";
import Dropdown from "primevue/dropdown";
import Button from "primevue/button";
import Card from "primevue/card";
import ConfirmDialog from "primevue/confirmdialog";
import ProgressSpinner from "primevue/progressspinner";

export default {
  name: "Recipe",
  components: {
    DataView,
    Card,
    Button,
    ProgressSpinner,
    Dropdown,
    InputText,
    Fieldset,
    ConfirmDialog,
  },
  data() {
    return {
      rows: 2,
      currentPage: 0,
      layout: "grid",
      searchPattern: "",
      rowSizes: [2, 5, 10, 20],
    };
  },
  methods: {
    onPage(event) {
      this.currentPage = event.page;
      this.$store.dispatch("getRecipe", {
        perPage: this.rows,
        currentPage: this.currentPage,
        search: this.searchPattern,
      });
    },
    deleteRecipe(id) {
      this.$confirm.require({
        message:
          "Вы действительно хотите удалить рецепт (данное действие необратимо)?",
        header: "Удаление рецепта",
        icon: "pi pi-exclamation-triangle",
        accept: () => {
          this.$store.dispatch("deleteRecipe", { id });
        },
        reject: () => {
          //callback to execute when user rejects the action
        },
      });
    },
  },
  computed: {
    recipes() {
      let recipes = this.$store.state.recipe;
      return Array(this.rows * this.currentPage).concat(recipes);
    },

    first() {
      return this.currentPage * this.rows;
    },

    recipeCount() {
      return this.$store.state.countRecipe;
    },

    total: function () {
      return this.$store.state.pager.total;
    },
  },

  watch: {
    rows(newValue) {
      this.$store.dispatch("getRecipe", {
        perPage: newValue,
        currentPage: this.currentPage,
        search: "",
      });
    },

    searchPattern(newValue) {
      this.currentPage = 0;
      //this.$store.dispatch("getRecipeCount", {search: newValue});
      this.$store.dispatch("getRecipe", {
        perPage: this.rows,
        currentPage: this.currentPage,
        search: newValue,
      });
    },
  },

  mounted() {
    if (this.$store.state.loggedIn) {
      this.$store.dispatch("getRecipe", {
        perPage: this.rows,
        currentPage: this.currentPage,
        search: "",
      });
      this.$store.dispatch("getRecipeCount");
      this.$store.commit("setLoginError", false);
    } else router.push("/");
  },
};
</script>

<style></style>
