<template>
  <div id="app">
    <Menu></Menu>
    <CreateRecipeDialog/>
    <router-view></router-view>
  </div>
</template>

<script>
import store from "./store/index";
import Menu from "./components/Menu";
import CreateRecipeDialog from "./components/CreateRecipeDialog";

export default {
  components: { Menu, CreateRecipeDialog },
  computed: {
    user() {
      return this.$store.state.user;
    },
  },

  mounted() {
    const token = localStorage.getItem("token");
    if (token) {
      store.commit("setToken", token);
      store.commit("setLoggedIn", true);
      store.dispatch("loadCategories");
    }
    this.$store.dispatch("getUser");
  },
};
</script>
